html, body{
  width:  100%;
  height: 100%;
  margin: 0;
}
canvas{
  margin: 3%;
  width: 94%;
  height: 90%;
}
table{
  border-collapse: collapse;
}
td {
  margin: 0px;
  padding: 0px;
  height: 12px;
  width: 12px;
  border: 1px solid black;

}